@font-face {
    font-family: Orbitron;
    src: url('../Fonts/Orbitron-Regular.ttf')
}

/* -------------------------------------------------------------------------- */
body {
    background-image: url(../Images/fondetoile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
    cursor: none;
    overflow: hidden;
}

/* //////////////////////////// Header /////////////////////////////////// */
.couleurPrenom {
    font-family: 'Orbitron', sans-serif;

    font-size: 35px;
    text-shadow: 0px 1px 1px rgb(0, 0, 0);
    overflow: hidden;

    color: rgba(81, 10, 163, 0.945);
    white-space: nowrap;
    letter-spacing: .10em;

    animation: typing 3s steps(100, end),
        blink-caret 0.75s step-end infinite;
}

.couleurNav:focus,
.couleurPrenom:hover {

    color: rgb(113, 30, 207);
}

.couleurNav {
    color: rgb(80, 21, 148);
    font-family: 'Libre Baskerville', serif;
    font-size: 25px;

}

.couleurNav:focus,
.couleurNav:hover {
    color: rgb(76, 2, 136);
}

.couleurDropdown {
    background-color: rgb(48, 0, 136);
    color: rgb(0, 0, 0);
}

.couleurDropdown:hover {
    background-color: rgb(19, 0, 63);
}



/* ///////////////////////////// Curseur ///////////////////////// */

.cursor {
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    transition-duration: 0ms;
    transition-timing-function: ease-out;
    animation: cursorAnim 1s infinite alternate;
    pointer-events: none;
    z-index: 999;


}

.cursor::after {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    border: 8px solid rgb(123, 74, 180);
    border-radius: 50%;
    opacity: .5;
    top: -1px;
    left: -1px;
    animation: cursorAnim2 1s infinite alternate;
    z-index: 999;
}

@keyframes cursorAnim {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(.7);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(2);
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.expand {
    animation: cursorAnim3 0.5s forwards;
    border: 1px solid rgb(103, 18, 172);
}

/* ///////////////////////////// Curseur /////////////////////// */

/* ///////////////////////// TEXTE ACCUEIL ///////////////////////////// */

.unDiv {
    text-align: center;
    background: transparent;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0, 0, 0);


}

.global {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    font-size: 40px;
    color: #ffffff;
    font-weight: 10;
    font-family: 'Orbitron', sans-serif;
    height: 8vh;
    z-index: 999;


}

.global:first-of-type {
    animation: showup 7s infinite;
}

.global:last-of-type {
    animation: reveal 7s infinite;
    width: 0px;
    color: #fff;
}

.global:last-of-type .slide {
    margin-left: -355px;
    animation: slidein 7s infinite;
}



@keyframes showup {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes slidein {
    0% {
        margin-left: -800px;
    }

    20% {
        margin-left: -800px;
    }

    35% {
        margin-left: 0px;
    }

    100% {
        margin-left: 0px;
    }
}

@keyframes reveal {
    0% {
        opacity: 0;
        width: 0px;
    }

    20% {
        opacity: 1;
        width: 0px;
    }

    30% {
        width: 600px;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        width: 600px;
    }
}


/* ////////////////////////// TEXTE ACCUEIL ///////////////////////////// */



/* ////////////////////////////////// BOUTON STYLAX MILIEU /////////////////////////////////////// */

.container {
    margin: auto;
    padding: auto;
    display: flex;
    justify-content: center;
    /* height: 6vh; */
    z-index: 999;
    padding-left: 1.5vw;
}

.btnColor {
    font-size: 1.8rem;
    padding: 1rem 3rem;
    color: #f4f4f4;
    /* text-transform: uppercase; */
    border-radius: 28px;
}

.btnMilieu {
    text-decoration: none;
    border: 2px solid rgb(146, 148, 248);
    position: relative;
    overflow: hidden;
    z-index: 999;
    font-family: 'Orbitron', sans-serif;
}

.btnMilieu:hover {
    box-shadow: 1px 1px 25px 10px rgba(78, 80, 161, 0.4);
    color: #fff;
    cursor: none;
}

.btnMilieu:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;

    font-size: 1.5rem;
    background: linear-gradient(100deg,
            transparent,
            rgba(146, 148, 248, 0.4),
            transparent);
    transition: all 650ms;
}

.btnMilieu:hover:before {
    left: 100%;
}

.testMathis {
    opacity: 0;
}

/* //////////////////////////////// BOUTON "+"  ////////////////////////////////////// */
.share {
    display: block;
    width: 60px;
    height: 60px;

    background-color: rgba(81, 10, 163, 0.945);
    position: absolute;
    top: 0.2vw;
    right: 4vw;
    z-index: 999;
    text-align: center;
    overflow: hidden;
    line-height: 54px;
    font-size: 100px;
    color: #fff;
    -moz-box-shadow: 0px 3px 9px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0px 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0px 3px 9px rgba(0, 0, 0, .5);
    border-radius: 50px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.share:hover {
    cursor: pointer;
    background-color: rgb(113, 30, 207);
    color: #000000;
}

.un,
.deux,
.trois,
.quatre,
.cinq,
.six,
.sept,
.huit {
    position: absolute;
    width: 45px;
    height: 45px;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    line-height: 49px;
    font-size: 1.5em;
    top: 0.2vw;
    right: 5.3vw;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 0px 3px 9px rgba(0, 0, 0, .2);
    box-shadow: 0px 3px 9px rgba(0, 0, 0, .2);
    -webkit-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
}

.one:hover,
.two:hover,
.three:hover,
.un:hover,
.deux:hover,
.trois:hover,
.quatre:hover,
.cinq:hover,
.six:hover,
.sept:hover,
.huit:hover {
    cursor: none;
}

.one i,
.two i,
.three i {
    display: none;
}


.one {
    background: #2196f3;
}

.two {
    background: #00e5ff;
}

.three {
    background: #6a1b9a;
}


.un {
    opacity: 0;
}

.deux {
    opacity: 0;
}

.trois {
    opacity: 0;
}

.quatre {
    opacity: 0;
}

.cinq {
    opacity: 0;
}

.six {
    opacity: 0;
}

.sept {
    opacity: 0;
}

.huit {
    opacity: 0;
}

.mercure {
    width: 90%;
    height: 85%;

}

.venus {
    width: 105%;

}

.mars {
    width: 85%;

}

.terre {
    width: 85%;

}

.jupiter {
    width: 110%;

}

.saturne {
    width: 100%;

}

.uranus {
    width: 90%;

}

.neptune {
    width: 90%;
}

.plus {
    color: #000000;
    font-size: 30px;
}

@keyframes allezun {
    from {
        top: 0.2px;
        left: -6.5vw;
        opacity: 0;
    }

    to {
        top: 1px;
        left: -18.5vw;
        /* display: block; */
        opacity: 1;
    }
}

@keyframes allezdeux {
    from {
        top: 0.2px;
        left: -6.5vw;
        opacity: 0;
    }

    to {
        top: 70px;
        left: -17vw;
        opacity: 1;
    }
}

@keyframes alleztrois {
    from {
        top: 0.2px;
        left: -6.5vw;
        opacity: 0;
    }

    to {
        top: 123px;
        left: -13.5vw;
        opacity: 1;
    }
}

@keyframes allezquatre {
    from {
        top: 0.2px;
        left: -6.5vw;
        opacity: 0;
    }

    to {
        top: 160px;
        left: -9.5vw;
        opacity: 1;
    }
}

@keyframes allezcinq {
    from {
        top: 0.2px;
        left: -6.5vw;
        opacity: 0;
    }

    to {
        top: 160px;
        left: -4vw;
        opacity: 1;
    }
}

@keyframes allezsix {
    from {
        top: 0.2px;
        left: -6.5vw;
        opacity: 0;
    }

    to {
        top: 128px;
        left: 0.2vw;
        opacity: 1;
    }
}

@keyframes allezsept {
    from {
        top: 0.2px;
        left: -6.5vw;
        opacity: 0;
    }

    to {
        top: 70px;
        left: 4vw;
        opacity: 1;
    }
}

@keyframes allezhuit {
    from {
        top: 0.2px;
        left: -6.5vw;
        opacity: 0;

    }

    to {
        top: 1px;
        left: 5.5vw;
        opacity: 1;
    }
}

.share.unfold~.un {
    top: 1px;
    left: -18.5vw;
    display: block;
}

.share.unfold~.deux {
    top: 70px;
    left: -17vw;
    display: block;

}

.share.unfold~.trois {
    top: 123px;
    left: -13.5vw;
    display: block;

}

.share.unfold~.quatre {
    top: 160px;
    left: -9.5vw;
    display: block;

}

.share.unfold~.cinq {
    top: 160px;
    left: -4vw;
    display: block;

}

.share.unfold~.six {
    top: 128px;
    left: 0.2vw;
    display: block;

}

.share.unfold~.sept {
    top: 70px;
    left: 4vw;
    display: block;

}

.share.unfold~.huit {
    top: 1px;
    left: 5.5vw;
    display: block;

}

.share.fold~.un {
    top: 1px;
    left: -6.5vw;
    display: block;

}

.share.fold~.deux {
    top: 1px;
    left: -6.5vw;
    display: block;
}

.share.fold~.trois {
    top: 1px;
    left: -6.5vw;
    display: block;

}

.share.fold~.quatre {
    top: 1px;
    left: -6.5vw;
    display: block;

}

.share.fold~.cinq {
    top: 1px;
    left: -6.5vw;
    display: block;

}

.share.fold~.six {
    top: 1px;
    left: -6.5vw;
    display: block;

}

.share.fold~.sept {
    top: 1px;
    left: -6.5vw;
    display: block;

}

.share.fold~.huit {
    top: 1px;
    left: -6.5vw;
    display: block;

}


/* //////////////////////// FOOTER ///////////////////////// */

.couleurStates {
    /* margin-right: 10px; */
    color: rgb(199, 48, 236);
    transition: all 0.25s ease-in-out;
}

/* .couleurStates:hover{

} */

.couleurStates2 {

    color: rgb(199, 48, 236);
    transition: all 0.25s ease-in-out;
}

.btn {
    border: none;
    border-radius: 50%;
    color: #000000;
    padding: 10px 14px;
    font-size: 16px;
    transition: all 0.6s ease-in-out;
    background-color: #b94fff50;
    margin-bottom: 6px;

}

#couleurteh2 {
    cursor: none;
}

.btn:hover {
    cursor: none;
    background-color: #8839b9;

}

.btnEnzo {
    cursor: none;
}

.btnEnzo2 {
    cursor: none;
}


/* //////////////////// ETOILES FILANTES ////////////////////// */

.etoile {
    position: absolute;
    top: 0;
    left: 10%;
    width: 100%;
    height: 100vh;
    animation: animateBg 50s linear infinite;
}

@keyframes animateBg {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }
}

.filant {
    position: absolute;
    top: 30%;
    left: 70%;
    width: 4px;
    height: 4px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1),
        0 0 0 8px rgba(255, 255, 255, 0.1),
        0 0 20px rgba(255, 255, 255, 0.1);
    animation: animate 3s linear infinite;
}

.filant::before {
    content: '';
    position: absolute;
    top: 101%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg, #fff, transparent);
}



@keyframes animate {
    0% {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        transform: rotate(315deg) translateX(-2000px);
        opacity: 0;
    }
}

.filant:nth-child(1) {
    top: -4vw;
    right: 0;
    left: inherit;
    animation-delay: 0.5s;
    animation-duration: 2s;
    z-index: -2;
}

/* ( haut gauche) */
.filant:nth-child(2) {
    top: -4vw;
    right: 800px;
    left: initial;
    animation-delay: 0.7s;
    animation-duration: 1.5s;
    z-index: -2;

}

/* ( bas droite ) */
.filant:nth-child(3) {
    top: 40vw;
    left: 19vw;
    animation-delay: 0.4s;
    animation-duration: 3.5s;
    z-index: -2;
}



/* ////////////////////////////////////// Bulle //////////////////////////////////// */

/* #bulle-wrapper{
    height: 100%;
    width: 100%;
    position: fixed;
    bottom: 0vw;
    overflow: hidden;
    pointer-events: none;
}

.bulle{
    height: max(300px,30vw);
    width: max(300px,30vw);
    background: rgb(50, 43, 116);
    border-radius: 100%;
    position: absolute;
    left: 50%;
    top: 102%;
    animation: wave 2.5s ease-in-out infinite;
}

@keyframes wave{
    from, to{
        transform: translate(-50%,0%);
    }
    50%{
        transform: translate(-50%, -20%);
        }
} */

/* /////////////////////// MEDIA QUERIES  /////////////////////// */


@media(max-width:1920px) {
    .btnColor {
        font-size: 1.3rem;
        padding: 1rem 3rem;
        color: #f4f4f4;
        border-radius: 28px;
    }

    .share {
        display: block;
        width: 50px;
        height: 50px;

        background-color: rgba(81, 10, 163, 0.945);
        position: absolute;
        top: 0.2vw;
        right: 4vw;
        z-index: 999;
        text-align: center;
        overflow: hidden;
        line-height: 46px;
        font-size: 30px;
    }

    .global {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        font-size: 38px;
        margin-left: 0px;
        z-index: 999;
        padding-left: 0px;
        letter-spacing: .035em;
    }

    .couleurPrenom {
        font-family: 'Orbitron', sans-serif;

        font-size: 25px;

    }

    .testMathis {
        opacity: 0;
    }

    /* .container{
            padding-right: 2vw;
        } */
}


@media(max-width:1500px) {
    #boutonPlus:checked~.un {
        top: 1px;
        left: -19vw;
    }

    #boutonPlus:checked~.deux {
        top: 70px;
        left: -18vw;
    }

    #boutonPlus:checked~.trois {
        top: 120px;
        left: -15vw;
    }

    #boutonPlus:checked~.quatre {
        top: 150px;
        left: -10.5vw;
    }

    #boutonPlus:checked~.cinq {
        top: 150px;
        left: -4.75vw;
    }

    #boutonPlus:checked~.six {
        top: 115px;
        left: -1vw;
    }

    #boutonPlus:checked~.sept {
        top: 70px;
        left: 2.3vw;
    }

    #boutonPlus:checked~.huit {
        top: 1px;
        left: 3.3vw;
    }

    @keyframes allezun {
        from {
            top: 0.2px;
            left: -6.5vw;
            opacity: 0;
        }

        to {
            top: 1px;
            left: -19vw;
            opacity: 1;
        }
    }

    @keyframes allezdeux {
        from {
            top: 0.2px;
            left: -7vw;
            opacity: 0;
        }

        to {
            top: 70px;
            left: -18vw;
            opacity: 1;
        }
    }

    @keyframes alleztrois {
        from {
            top: 0.2px;
            left: -6.5vw;
            opacity: 0;
        }

        to {
            top: 120px;
            left: -15vw;
            opacity: 1;
        }
    }

    @keyframes allezquatre {
        from {
            top: 0.2px;
            left: -6.5vw;
            opacity: 0;
        }

        to {
            top: 150px;
            left: -10.5vw;
            opacity: 1;
        }
    }

    @keyframes allezcinq {
        from {
            top: 0.2px;
            left: -6.5vw;
            opacity: 0;
        }

        to {
            top: 150px;
            left: -4.75vw;
            opacity: 1;
        }
    }

    @keyframes allezsix {
        from {
            top: 0.2px;
            left: -6.5vw;
            opacity: 0;
        }

        to {
            top: 115px;
            left: -1vw;
            opacity: 1;
        }
    }

    @keyframes allezsept {
        from {
            top: 0.2px;
            left: -6.5vw;
            opacity: 0;
        }

        to {
            top: 70px;
            left: 2.3vw;
            opacity: 1;
        }
    }

    @keyframes allezhuit {
        from {
            top: 0.2px;
            left: -6.5vw;
            opacity: 0;
        }

        to {
            top: 1px;
            left: 3.3vw;
            opacity: 1;
        }
    }
}

@media(max-width:1250px) {
    .share {
        right: 10vw;
    }

    #boutonPlus:checked~.un {
        top: 1px;
        left: -27.5vw;
    }

    #boutonPlus:checked~.deux {
        top: 70px;
        left: -26vw;
    }

    #boutonPlus:checked~.trois {
        top: 130px;
        left: -22.5vw;
    }

    #boutonPlus:checked~.quatre {
        top: 150px;
        left: -16.9vw;
    }

    #boutonPlus:checked~.cinq {
        top: 150px;
        left: -11vw;
    }

    #boutonPlus:checked~.six {
        top: 120px;
        left: -4.5vw;
    }

    #boutonPlus:checked~.sept {
        top: 70px;
        left: -1.5vw;
    }

    #boutonPlus:checked~.huit {
        top: 1px;
        left: 0.5vw;
    }

    @keyframes allezun {
        from {
            top: 0.2px;
            left: -13vw;
            opacity: 0;
        }

        to {
            top: 1px;
            left: -27.5vw;
            opacity: 1;
        }
    }

    @keyframes allezdeux {
        from {
            top: 0.2px;
            left: -13vw;
            opacity: 0;
        }

        to {
            top: 70px;
            left: -26vw;
            opacity: 1;
        }
    }

    @keyframes alleztrois {
        from {
            top: 0.2px;
            left: -13vw;
            opacity: 0;
        }

        to {
            top: 130px;
            left: -22.5vw;
            opacity: 1;
        }
    }

    @keyframes allezquatre {
        from {
            top: 0.2px;
            left: -13vw;
            opacity: 0;
        }

        to {
            top: 150px;
            left: -16.9vw;
            opacity: 1;
        }
    }

    @keyframes allezcinq {
        from {
            top: 0.2px;
            left: -13vw;
            opacity: 0;
        }

        to {
            top: 150px;
            left: -11vw;
            opacity: 1;
        }
    }

    @keyframes allezsix {
        from {
            top: 0.2px;
            left: -13vw;
            opacity: 0;
        }

        to {
            top: 120px;
            left: -4.5vw;
            opacity: 1;
        }
    }

    @keyframes allezsept {
        from {
            top: 0.2px;
            left: -13vw;
            opacity: 0;
        }

        to {
            top: 70px;
            left: -1.5vw;
            opacity: 1;
        }
    }

    @keyframes allezhuit {
        from {
            top: 0.2px;
            left: -13vw;
            opacity: 0;
        }

        to {
            top: 1px;
            left: 0.5vw;
            opacity: 1;
        }
    }
}


@media(max-width:990px) {
    .share {
        right: 10vw;
    }

    #boutonPlus:checked~.un {
        top: 1px;
        left: -32vw;
    }

    #boutonPlus:checked~.deux {
        top: 70px;
        left: -30vw;
    }

    #boutonPlus:checked~.trois {
        top: 130px;
        left: -26vw;
    }

    #boutonPlus:checked~.quatre {
        top: 150px;
        left: -20vw;
    }

    #boutonPlus:checked~.cinq {
        top: 150px;
        left: -11.5vw;
    }

    #boutonPlus:checked~.six {
        top: 125px;
        left: -5.5vw;
    }

    #boutonPlus:checked~.sept {
        top: 70px;
        left: -1vw;
    }

    #boutonPlus:checked~.huit {
        top: 1px;
        left: 1vw;
    }

    .typeAuto {
        letter-spacing: .20em;
    }

    .typeAuto2 {
        letter-spacing: .20em;
    }

    .texteAccueil {
        font-size: 29px;
    }

    .boutonStylax {
        font-size: 1rem;
    }

    @keyframes allezun {
        from {
            top: 0.2px;
            left: -14vw;
            opacity: 0;
        }

        to {
            top: 1px;
            left: -31vw;
            opacity: 1;
        }
    }

    @keyframes allezdeux {
        from {
            top: 0.2px;
            left: -14vw;
            opacity: 0;
        }

        to {
            top: 70px;
            left: -30vw;
            opacity: 1;
        }
    }

    @keyframes alleztrois {
        from {
            top: 0.2px;
            left: -14vw;
            opacity: 0;
        }

        to {
            top: 130px;
            left: -26vw;
            opacity: 1;
        }
    }

    @keyframes allezquatre {
        from {
            top: 0.2px;
            left: -14vw;
            opacity: 0;
        }

        to {
            top: 150px;
            left: -20vw;
            opacity: 1;
        }
    }

    @keyframes allezcinq {
        from {
            top: 0.2px;
            left: -14vw;
            opacity: 0;
        }

        to {
            top: 150px;
            left: -11.5vw;
            opacity: 1;
        }
    }

    @keyframes allezsix {
        from {
            top: 0.2px;
            left: -14vw;
            opacity: 0;
        }

        to {
            top: 125px;
            left: -5.5vw;
            opacity: 1;
        }
    }

    @keyframes allezsept {
        from {
            top: 0.2px;
            left: -14vw;
            opacity: 0;
        }

        to {
            top: 70px;
            left: -1vw;
            opacity: 1;
        }
    }

    @keyframes allezhuit {
        from {
            top: 0.2px;
            left: -14vw;
            opacity: 0;
        }

        to {
            top: 1px;
            left: 1vw;
            opacity: 1;
        }
    }
}

@media(max-width:810px) {
    .global {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        font-size: 35px;
    }
}

@media(max-width:765px) {
    .share {
        left: 0.2vw;
    }

    #boutonPlus:checked~.un {
        top: 70px;
        left: -70vw;
    }

    #boutonPlus:checked~.deux {
        top: 70px;
        left: -60vw;
    }

    #boutonPlus:checked~.trois {
        top: 70px;
        left: -50vw;
    }

    #boutonPlus:checked~.quatre {
        top: 70px;
        left: -40vw;
    }

    #boutonPlus:checked~.cinq {
        top: 70px;
        left: -30vw;
    }

    #boutonPlus:checked~.six {
        top: 70px;
        left: -20vw;
    }

    #boutonPlus:checked~.sept {
        top: 70px;
        left: -10vw;
    }

    #boutonPlus:checked~.huit {
        top: 70px;
        left: 0vw;
    }

    .typeAuto {
        letter-spacing: .10em;
    }

    .typeAuto2 {
        letter-spacing: .10em;
    }

    .texteAccueil {
        font-size: 23.5px;
    }

    .boutonStylax {
        font-size: 1rem;
    }

    @keyframes allezun {
        from {
            top: 0.2px;
            left: -0.5vw;
            opacity: 0;
        }

        to {
            top: 70px;
            left: -70vw;
            opacity: 1;
        }
    }

    @keyframes allezdeux {
        from {
            top: 0.2px;
            left: -0.5vw;
            opacity: 0;
        }

        to {
            top: 70px;
            left: -60vw;
            opacity: 1;
        }
    }

    @keyframes alleztrois {
        from {
            top: 0.2px;
            left: -0.5vw;
            opacity: 0;
        }

        to {
            top: 70px;
            left: -50vw;
            opacity: 1;
        }
    }

    @keyframes allezquatre {
        from {
            top: 0.2px;
            left: -0.5vw;
            opacity: 0;
        }

        to {
            top: 70px;
            left: -40vw;
            opacity: 1;
        }
    }

    @keyframes allezcinq {
        from {
            top: 0.2px;
            left: -0.5vw;
            opacity: 0;
        }

        to {
            top: 70px;
            left: -30vw;
            opacity: 1;
        }
    }

    @keyframes allezsix {
        from {
            top: 0.2px;
            left: -0.5vw;
            opacity: 0;
        }

        to {
            top: 70px;
            left: -20vw;
            opacity: 1;
        }
    }

    @keyframes allezsept {
        from {
            top: 0.2px;
            left: -2vw;
            opacity: 0;
        }

        to {
            top: 70px;
            left: -10vw;
            opacity: 1;
        }
    }

    @keyframes allezhuit {
        from {
            top: 0.2px;
            left: -2vw;
            opacity: 0;
        }

        to {
            top: 70px;
            left: 0vw;
            opacity: 1;
        }
    }

    .global {
        font-size: 29px;
        margin-left: 0.5vw;
        letter-spacing: 0.075em;
    }

    .unDiv {
        /* width: 22%;  */
        padding-right: 5vw;
        margin-left: 5vw;

    }

    .testMathis {
        display: none;
    }


}

@media(max-width:710px) {
    .global {
        font-size: 27px;
        margin-left: 0.5vw;
        letter-spacing: 0.075em;
    }

    .unDiv {
        /* width: 22%;  */
        padding-right: 7vw;
        margin-left: 5vw;

    }

    .testMathis {
        display: none;
    }

}

@media(max-width:675px) {
    .global {
        font-size: 25px;
        margin-left: 0.5vw;
        letter-spacing: 0.075em;
    }

    .unDiv {
        /* width: 22%;  */
        padding-right: 8.5vw;
        margin-left: 5vw;

    }

    .testMathis {
        display: none;
    }

    .btnMilieu {
        font-size: 0.8rem;
    }
}

@media(max-width:615px) {
    .global {
        font-size: 22px;
        margin-left: 0.5vw;
        letter-spacing: 0.075em;
    }

    .unDiv {
        /* width: 22%;  */
        padding-right: 9vw;
        margin-left: 8vw;

    }

    .testMathis {
        display: none;
    }

    .btnMilieu {
        font-size: 0.8rem;
    }
}

@media(max-width:575px) {
    .global {
        font-size: 18px;
        /* margin-right: 7vw; */
        padding-left: 0.1vw;
        letter-spacing: 0.11em;
    }
    .unDiv.global{
        padding-right: 5vw;
        padding-left: 7vw;
    }
    .cursor {
        width: 50px;
        height: 50px;
        border: none;
        border-radius: 50%;
        position: absolute;
        transition-duration: 200ms;
        transition-timing-function: ease-out;
        animation: cursorAnim 1s infinite alternate;
        pointer-events: none;
        z-index: 999;
      
      
      }
      
      .cursor::after {
        content: "";
        width: 50px;
        height: 50px;
        position: absolute;
        border: none;
        border-radius: 50%;
        opacity: .5;
        top: -2px;
        left: -1px;
        /* animation: cursorAnim2 1s infinite alternate; */
        z-index: 999;
      }
    .expand {
        animation: cursorAnim3 0.6s forwards;
        border: 3px solid rgb(103, 18, 172);
    }
    .couleurPrenom {
        font-family: 'Orbitron', sans-serif;
    
        font-size: 24px;
    }
    .btnMilieu {
        font-size: 0.65rem;
    }

    .share {
        left: -7.5vw;
        width: 40px;
        height: 40px;
        line-height: 34px;
        font-size: 25px;
    }

    #boutonPlus:checked~.un {
        top: 70px;
        left: -90vw;
    }

    #boutonPlus:checked~.deux {
        top: 70px;
        left: -78vw;
    }

    #boutonPlus:checked~.trois {
        top: 70px;
        left: -66vw;
    }

    #boutonPlus:checked~.quatre {
        top: 70px;
        left: -54vw;
    }

    #boutonPlus:checked~.cinq {
        top: 70px;
        left: -42vw;
    }

    #boutonPlus:checked~.six {
        top: 70px;
        left: -30vw;
    }

    #boutonPlus:checked~.sept {
        top: 70px;
        left: -18vw;
    }

    #boutonPlus:checked~.huit {
        top: 70px;
        left: -6vw;
    }

    .typeAuto {
        letter-spacing: .05em;
    }

    .typeAuto2 {
        letter-spacing: .05em;
    }

    .texteAccueil {
        font-size: 22px;
    }

    .boutonStylax {
        font-size: 1rem;
    }

    @keyframes allezun {
        from {
            top: 0.2px;
            left: -0.5vw;
            opacity: 0;
        }

        to {
            top: 70px;
            left: -90vw;
            display: block;
            opacity: 1;
        }
    }

    @keyframes allezdeux {
        from {
            top: 0.2px;
            left: -0.5vw;
            opacity: 0;
        }

        to {
            top: 70px;
            left: -78vw;
            opacity: 1;
        }
    }

    @keyframes alleztrois {
        from {
            top: 0.2px;
            left: -0.5vw;
            opacity: 0;
        }

        to {
            top: 70px;
            left: -66vw;
            opacity: 1;
        }
    }

    @keyframes allezquatre {
        from {
            top: 0.2px;
            left: -0.5vw;
            opacity: 0;
        }

        to {
            top: 70px;
            left: -54vw;
            opacity: 1;
        }
    }

    @keyframes allezcinq {
        from {
            top: 0.2px;
            left: -0.5vw;
            opacity: 0;
        }

        to {
            top: 70px;
            left: -42vw;
            opacity: 1;
        }
    }

    @keyframes allezsix {
        from {
            top: 0.2px;
            left: -0.5vw;
            opacity: 0;
        }

        to {
            top: 70px;
            left: -30vw;
            opacity: 1;
        }
    }

    @keyframes allezsept {
        from {
            top: 0.2px;
            left: -2vw;
            opacity: 0;
        }

        to {
            top: 70px;
            left: -18vw;
            opacity: 1;
        }
    }

    @keyframes allezhuit {
        from {
            top: 0.2px;
            left: -2vw;
            opacity: 0;
        }

        to {
            top: 70px;
            left: -6vw;
            opacity: 1;
        }
    }
    .etoile {
        display:none !important;
    }
    
    .filant {
        display: none !important;
        
    }
    
    .filant::before {
        display: none !important;
    }
    
    .filant:nth-child(1) {
        display: none !important;
    }
    
    /* ( haut gauche) */
    .filant:nth-child(2) {
        display: none !important;
    
    }
    
    /* ( bas droite ) */
    .filant:nth-child(3) {
        display: none !important;
    }
}
