html {
  /* box-sizing: border-box; */
  overflow: hidden;
  cursor: url(/Images/cursor.png), default;
  /* max-height: 50vh !important; */
}

/* box shadow de l'icone -webkit-box-shadow: 2.5px 2.5px 18px 2.5px #030270; 
box-shadow: 2.5px 2.5px 18px 2.5px #030270; */
body {
  background-image: url(/Images/fond\ espace\ image.jpg);
  /* background-image: url(/Images/etoiles.png); */
  /* width: auto; */
  /* background-image: url(/Images/nebuleuse\ test.png); */
  /* transform: translateX(15px); */
  background-repeat: no-repeat;
  background-size: cover;
  width: 59%;
  background-attachment: fixed;
  max-height: 50vh !important;
}

.bouton {
  /* height: 100%; */

  position: relative;
  left: 66.4vw;
  bottom: 129.5vw;
}

a {
  /* display: inline-block; */
  position: static;
}

.bouton:hover {

  animation: animationBouton 1s;
  transform: scale(125%);

}

/* .bouton::before{
  animation: animationBouton2 1s;
  transform: scale(100%);
} */

@keyframes animationBouton {
  from {
    transform: scale(100%);
  }

  to {
    transform: scale(125%);
  }
}

/* @keyframes animationBouton2 {
  from {
    transform: scale(125%);
  }

  to {
    transform: scale(100%);
  }
} */


.soleil {
  position: relative;
  /* right: 30vw;
    bottom: -2.5vw;  Soleil plus cartoon */
  right: 30vw;
  /* width: 86%; */
  /* top: 2.5vw; */

}

.mars {
  position: relative;
  /* left: 51%; */
  bottom: 47vw;
  left: 23vw;
  transition: all 1.5s ease-in-out;
}

.animationPlanete {
  animation: constanteRotation 250s normal linear infinite;
}

/* .animationTerre {
    animation: constanteRotationTerre 60s normal linear infinite;
} */

.mars:hover {
  transform: rotate(360deg) scale(1.35);

}

.mercure {
  position: relative;
  right: 3vw;
  bottom: 31vw;
  transition: all 1.5s ease-in-out;
}

.mercure:hover {
  transform: rotate(360deg) scale(1.4);

}

.venus {
  position: relative;
  bottom: 50vw;
  left: 5vw;
  transition: all 1.5s ease-in-out;

}

.venus:hover {
  transform: rotate(360deg) scale(1.35);
}

.terre {
  position: relative;
  bottom: 42vw;
  left: 13vw;
  transition: all 1.5s ease-in-out;
  transform: rotate(290deg);

}

.terre:hover {
  transform: rotate(630deg) scale(1.35);
}

.jupiter {
  position: relative;
  bottom: 50vw;
  left: 32vw;
  transition: all 1.5s ease-in-out;
  margin: 0;
}

.jupiter:hover {
  transform: rotate(360deg) scale(1.3);
}

.saturne {
  position: relative;
  bottom: 93vw;
  left: 43vw;
  transition: all 1.5s ease-in-out;
}

.saturne:hover {
  transform: rotate(330deg) scale(1.3);
}

.uranus {
  position: relative;
  bottom: 71vw;
  left: 52vw;
  transition: all 1.5s ease-in-out;
}

.uranus:hover {
  transform: rotate(360deg) scale(1.4);
}

.neptune {
  position: relative;
  bottom: 99vw;
  left: 63vw;
  transition: all 1.5s ease-in-out;
}

.neptune:hover {
  transform: rotate(360deg) scale(1.35);
}





@keyframes constanteRotation {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }

  ;
}

/* 
@keyframes constanteRotationTerre {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }

    ;
} */


/* taille w x2.5 ( 10% -> 25% sur mobile )*/

@media (max-width:650px) {
  .soleil {
    position: relative;
    left: 23vw;
  }

  .w-85 {
    width: 100% !important;
  }

  .mercure {
    position: relative;
    left: 13vw;
    top: 3vw;
    transform: rotate(90deg);
  }

  .w-8 {
    width: 20% !important;
  }

  .venus {
    position: relative;
    bottom: 1vw;
    left: 46vw;
    transform: rotate(90deg);
  }

  .w-15 {
    width: 34.5% !important;
  }

  .terre {
    position: relative;
    left: 4vw;
    bottom: 15vw;
    transform: rotate(0deg);
  }

  .w-16 {
    width: 39% !important;
  }

  .mars {
    position: relative;
    left: 36vw;
    top: 20vw;
    transform: rotate(90deg);
  }

  .w-9 {
    width: 23.5% !important;
  }

  .jupiter {
    position: relative;
    left: -10vw;
    bottom: 3vw;
    transform: rotate(90deg);
  }

  .w-35 {
    width: 70% !important;
  }

  .saturne {
    position: relative;
    left: 43vw;
    bottom: 22vw;
    transform: rotate(60deg);
  }

  .w-42 {
    width: 103% !important;
  }

  .uranus {
    position: relative;
    left: -5vw;
    bottom: 22vw;
    transform: rotate(90deg);
  }

  .neptune {
    position: relative;
    left: 57vw;
    bottom: 30vw;
    transform: rotate(90deg);
  }

  html {
    overflow: scroll;
  }

  .bouton {
    position: relative;
    left: 63vw;
    bottom: 242vw;
  }

  .w-100 {
    width: 335% !important;
  }

  .img-fluid {
    max-width: 335% !important;
    height: auto;
  }

  .w-10 {
    width: 18% !important;
  }
}

