html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  cursor: none;
  /* max-height: 50vh !important; */
}


/* Idée d'hover quand tu passes ta souris sur une planete ca met une preview de la page surlaquel ca va te 
rediriger au lieu d'un vieux  truc qui tourne et qui grossit */


/* /////////////////////////// CURSEUR //////////////////// */
.cursor {
  width: 50px;
  height: 50px;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  transition-duration: 0ms;
  transition-timing-function: ease-out;
  animation: cursorAnim 1s infinite alternate;
  pointer-events: none;
  z-index: 999;


}

.cursor::after {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  border: 8px solid rgb(123, 74, 180);
  border-radius: 50%;
  opacity: .5;
  top: -2px;
  left: -1px;
  /* animation: cursorAnim2 1s infinite alternate; */
  z-index: 999;
}

@keyframes cursorAnim {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(.7);
  }
}

@keyframes cursorAnim2 {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(.4);
  }
}

@keyframes cursorAnim3 {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(3);
  }
  100% {
      transform: scale(1);
      opacity: 0;
  }
}

.expand {
  animation: cursorAnim3 0.5s forwards;
  border: 1px solid rgb(103, 18, 172);
}

/* /////////////////////////// CURSEUR //////////////////// */

/* box shadow de l'icone -webkit-box-shadow: 2.5px 2.5px 18px 2.5px #030270; 
box-shadow: 2.5px 2.5px 18px 2.5px #030270; */
body {
  background-image: url(../Images/fondetoile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 59%;
  background-attachment: fixed;
  max-height: 50vh !important;
}

.bouton {
  /* height: 100%; */
  animation:boutonBouge 3s ;
  position: relative;
  left: 66vw;
  bottom: 130vw;
  transition: all 1.5s ease-in-out;
  z-index: 998;
}

a {
  /* display: inline-block; */
  position: static;
}

.animationBouton:hover {
  transform: scale(105%);
  transform: scale(120%);
}

/* .bouton::before{
  animation: animationBouton2 1s;
  transform: scale(100%);
} */



@keyframes venusBouge {
  from{
    bottom: 70vw;

    opacity: 0;
  }
  to{
    bottom: 50vw;
    left: 5vw;
    opacity: 1;
  }
}

@keyframes marsBouge {
  from{
    bottom: 70vw;
    left: vw;
    opacity: 0;
  }
  to{
    bottom: 47vw;
    left: 23vw;
    opacity: 1;
  }
}

@keyframes mercureBouge {
  from{
    bottom: 70vw;
    left: vw;
    opacity: 0;
  }
  to{
    right: 3vw;
    bottom: 31vw;
    opacity: 1;
  }
}

@keyframes terreBouge {
  from{
    bottom: 85vw;
    left: vw;
    opacity: 0;
  }
  to{
    bottom: 42vw;
    left: 13vw;
    opacity: 1;
  }
}

@keyframes jupiterBouge {
  from{
    bottom: 100vw;
    left: vw;
    opacity: 0;
  }
  to{
    bottom: 50.8vw;
    left: 32vw;
    opacity: 1;
  }
}

@keyframes saturneBouge {
  from{
    bottom: 120vw;
    left: vw;
    opacity: 0;
  }
  to{
    bottom: 93vw;
    left: 43vw;
    opacity: 1;
  }
}

@keyframes uranusBouge {
  from{
    bottom: 125vw;
    left: vw;
    opacity: 0;
  }
  to{
    bottom: 75.5vw;
    left: 54vw;
    opacity: 1;
  }
}

@keyframes neptuneBouge {
  from{
    bottom: 150vw;
    left: vw;
    opacity: 0;
  }
  to{
    bottom: 99vw;
    left: 63vw;
    opacity: 1;
  }
}

@keyframes soleilBouge {
  from{
    right: 60vw;
    opacity: 0;
  }
  to{
    right: 30vw;
    opacity: 1;

  }
}

@keyframes boutonBouge {
  from{
    left: 90vw;
    opacity: 0;
    
  }
  to{
    left: 66vw;
    bottom: 130vw;
    opacity: 1;

  }
}

.soleil {
  animation: soleilBouge 3s ease-out, constanteRotation 250s ease-out;
  position: relative;
  right: 30vw;
  transition: all 1.5s ease-in-out;
  z-index: 998;

}

.mars {
  animation: marsBouge 3s;
  position: relative;
  /* left: 51%; */
  bottom: 47vw;
  left: 23vw;
  transition: all 1.5s ease-in-out;
  z-index: 998;
}


.mars:hover {
  /* transform: rotate(360deg);  */
  transform: scale(1.35);

}

.mercure {
  animation: mercureBouge 3s;
  position: relative;
  right: 3vw;
  bottom: 31vw;
  transition: all 1.5s ease-in-out;
  z-index: 998;
}

.mercure:hover {
  transform: rotate(360deg);
  transform: scale(1.4);
}

.venus {
  animation: venusBouge 3s;
  position: relative;
  bottom: 50vw;
  left: 5vw;
  transition: all 1.5s ease-in-out;
  z-index: 998;

}


.venus:hover {
  /* transform: rotate(360deg); */
  transform: scale(1.35);
}

.terre {
  animation: terreBouge 3s;
  position: relative;
  bottom: 42vw;
  left: 13vw;
  transition: all 1.5s ease-in-out;

  z-index: 998;
}

.terre:hover {

  transform: rotate(0deg);
  transform: scale(1.35);
}

.jupiter {
  animation: jupiterBouge 3s;
  position: relative;
  bottom: 50.8vw;
  left: 32vw;
  transition: all 1.5s ease-in-out;
  margin: 0;
  z-index: 998;

}

.jupiter:hover {
  /* transform: rotate(360deg); */
  transform: scale(1.3);
}

.saturne {
  animation: saturneBouge 3s;
  position: relative;
  bottom: 93vw;
  left: 43vw;
  transition: all 1.5s ease-in-out;
  z-index: 998;

}

.saturne:hover {
  /* transform: rotate(330deg); */
  transform: scale(1.2);
}

.uranus {
  animation: uranusBouge 3s;
  position: relative;
  bottom: 75.5vw;
  left: 54vw;
  transition: all 1.5s ease-in-out;
  z-index: 998;
  transform: rotate(40deg);
}

.uranus:hover {
  transform: rotate(360deg);
  transform: scale(1.3);
}

.neptune {
  animation: neptuneBouge 3s;
  position: relative;
  bottom: 99vw;
  left: 63vw;
  transition: all 1.5s ease-in-out;
  z-index: 998;

}

.neptune:hover {
  transform: rotate(360deg);
  transform: scale(1.35);
}





@keyframes constanteRotation {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }

  ;
}


/* taille w x2.5 ( 10% -> 25% sur mobile )*/

@media (max-width:650px) {
  .soleil {
    position: relative;
    left: 23vw;
  }

  .w-85 {
    width: 100% !important;
  }

  .mercure {
    position: relative;
    left: 13vw;
    top: 3vw;
    transform: rotate(90deg);
  }

  .w-8 {
    width: 20% !important;
  }

  .venus {
    position: relative;
    bottom: 1vw;
    left: 46vw;
    transform: rotate(90deg);
  }

  .w-15 {
    width: 34.5% !important;
  }

  .terre {
    position: relative;
    left: 4vw;
    bottom: 15vw;
    transform: rotate(0deg);
  }

  .w-16 {
    width: 39% !important;
  }

  .mars {
    position: relative;
    left: 36vw;
    top: 20vw;
    transform: rotate(90deg);
  }

  .w-9 {
    width: 23.5% !important;
  }

  .jupiter {
    position: relative;
    left: -10vw;
    bottom: 3vw;
    transform: rotate(90deg);
  }

  .w-35 {
    width: 70% !important;
  }

  .saturne {
    position: relative;
    left: 43vw;
    bottom: 22vw;
    transform: rotate(60deg);
  }

  .w-42 {
    width: 103% !important;
  }

  .uranus {
    position: relative;
    left: -5vw;
    bottom: 22vw;
    transform: rotate(90deg);
  }

  .neptune {
    position: relative;
    left: 57vw;
    bottom: 30vw;
    transform: rotate(90deg);
  }

  html {
    overflow-y: scroll;
  }

  .bouton {
    position: relative;
    left: 61vw;
    bottom: 233vw;
  }

  .w-100 {
    width: 335% !important;
  }

  .img-fluid {
    max-width: 335% !important;
    height: auto;
  }

  .w-10 {
    width: 18% !important;
  }
  span:nth-child(1){
    display: none;
    }
    span{
      top: 50vw !important;
      left: 105vw !important;
    }
    @keyframes venusBouge {
      from{
        left: 100vw;
        opacity: 0;
      }
      to{
        bottom: 1vw;
        left: 46vw;
        opacity: 1;
      }
    }
    
    @keyframes marsBouge {
      from{
        left: 100vw;
        opacity: 0;
      }
      to{
        left: 36vw;
        top: 20vw;
        opacity: 1;
      }
    }
    
    @keyframes mercureBouge {
      from{
        bottom: 70vw;
        left: -43vw;
        opacity: 0;
      }
      to{
        left: 13vw;
        top: 3vw;
        opacity: 1;
      }
    }
    
    @keyframes terreBouge {
      from{
        left: -42vw;
        opacity: 0;
      }
      to{
        left: 4vw;
        bottom: 15vw;
        opacity: 1;
      }
    }
    
    @keyframes jupiterBouge {
      from{
    
        left: -42vw;
        opacity: 0;
      }
      to{
        left: -10vw;
        bottom: 3vw;
        opacity: 1;
      }
    }
    
    @keyframes saturneBouge {
      from{
    
        left: 100vw;
        opacity: 0;
      }
      to{
        left: 43vw;
        bottom: 22vw;
        opacity: 1;
      }
    }
    
    @keyframes uranusBouge {
      from{
    
        left: -50vw;
        opacity: 0;
      }
      to{
        left: -5vw;
        bottom: 22vw;
        opacity: 1;
      }
    }
    
    @keyframes neptuneBouge {
      from{
    
        left: 100vw;
        opacity: 0;
      }
      to{
        left: 57vw;
        bottom: 30vw;
        opacity: 1;
      }
    }
    
    @keyframes soleilBouge {
      from{
        left: 100vw;
        opacity: 0;
      }
      to{
        left: 23vw;
        opacity: 1;
    
      }
    }
    
    @keyframes boutonBouge {
      from{
        left: 100vw;
        opacity: 0;
        
      }
      to{
        left: 61vw;
        bottom: 233vw;
        opacity: 1;
    
      }
    }
}





/* //////////////////////// Etoiles //////////////////// */



.etoile{
  position: absolute;
  top: 0;
  left: 10%;
  width: 100%;
  height: 100vh;

  animation: animateBg 50s linear infinite;

}

@keyframes animateBg{
  0%
  {
      transform: scale(1);
  }
  50%{
      transform: scale(1.2);
  }
}

span{
  position: absolute;
  top: -1%;
  left: 70%;
  width: 4px;
  height:4px;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255,255,255,0.1),
  0 0 0 8px rgba(255,255,255,0.1),
  0 0 20px rgba(255,255,255,0.1);

  animation: animate 3s linear infinite;
  animation-delay: 3.2s;
}

span::before{
  content:'';
  position: absolute;
  top: 101%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg,#fff, transparent);

}

@keyframes animate{
  0%{
      transform: rotate(315deg) translateX(0);
      opacity: 1;
  }
  70%{
      opacity: 1;
  }
  100%{
      transform: rotate(315deg) translateX(-2000px);
      opacity: 0;
  }
}

span:nth-child(1){
  top: -1vw;
  left: 36vw;

  animation-delay: 3.2s;
  animation-duration: 2s;
  z-index: -2;
}

