.bouton{
    border-width: 0.8px;
    border-color: rgb(4, 4, 66);
    width: 56px;
    background-color: #000000;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #ffffff;
    border-style: solid;
    font-size: 8px;
    height: 21px;
    border-radius: 16px;

}

/* RAJOUTER BORDURE NOIR COMME LES BOUTONS SPATIAL SUR INTERNET ET METTRE LA COULEUR DE FOND COMME LA PAGE 
exemple bouton bg https://codemyui.com/simple-box-shadow-button-hover-animation/
changer la taille d'une bordure de bouton https://www.google.com/search?q=comment+changer+la+taille+de+la+borudre+d%27un+bgoutton&rlz=1C1UEAD_frFR1022FR1022&oq=comment+changer+la+taille+de+la+borudre+d%27un+bgoutton&aqs=chrome..69i57j33i10i160l2j33i10i22i29i30l2.5952j0j7&sourceid=chrome&ie=UTF-8
landing page disney qui est stylé https://www.google.com/search?q=disney+landing+page&rlz=1C1UEAD_frFR1022FR1022&sxsrf=ALiCzsbr-j_6HGeAcCBkfkPoototVzrgsw:1666615585137&source=lnms&tbm=isch&sa=X&ved=2ahUKEwiZmbfv8vj6AhWlzIUKHZiWDlMQ_AUoAXoECAIQAw&biw=1920&bih=912&dpr=1#imgrc=JQpVrau-x14dRM&imgdii=B59FWB6kPw1ibM
KRITA POUR CONNAITRE LA COULEUR DU BACKGROUND SI NEED 
METTRE DES HOVERS BG SUR L IMAGE DU BOUTON ACCUEIL ET BANGER SAH */